.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

/* Include any custom CSS styling here! */
p {
    padding: 10px;
    margin: 10px;
}

ol {
    padding: 10px;
    margin: 10px;
}

ul {
    padding: 10px;
    margin: 10px;
}

h2 {
    padding: 10px;
    margin: 10px;
}

h3 {
    padding: 20px;
    margin: 20px;
}
